@tailwind base;
@tailwind components;
@tailwind utilities;

.topnav{
  margin: -0.5%;
  height: 10%;
}

.bottomnav{
  margin: -0.5%;
}

.cards{
  margin: 7%;
  margin-top: 13% ;
  display: flex;
  flex-direction: row;
}

.didiv{
  
  margin: 3%;
  margin-top: 7%;
  
}

.dtable{
  margin-left:9%;
  margin-top: 7%;
  border: 2px solid black;
  box-shadow: 10px gray;
}

/* Firefox */
* {
  scrollbar-width: thin;
  scrollbar-color: #67e8f9 #374151; /* thumb track */
  scroll-behavior: smooth;
}

/* Chrome, Safari, Edge */
*::-webkit-scrollbar {
  width: 8px;
  height: 8px;
}

*::-webkit-scrollbar-thumb {
  background-color: #67e8f9;
  border-radius: 8px;
}

*::-webkit-scrollbar-track {
  background: #374151;
}
